@import "theme";
@import "~@angular/material/theming";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $black-color;
}

.bm-navbar {
  margin-bottom: 2rem;
}

.bm-spacer {
  flex: 1 1 auto;
}

mat-form-field {
  width: 100%;
}
